/*Configurações padrão*/
body{
    max-width: 1240px;
    font-family: "Space Grotesk"!important;
    font-weight: 500;
    background-image: url(../src/img/bg-main-desktop.png);
    background-repeat: no-repeat;
    font-size: 18px;
}

main {
    display: flex;
}

/*Variables*/
:root {
    --font-color:hsl(0, 0%, 100%);
    --placeholder-color:hsl(270, 3%, 87%);
    --cinza:hsl(279, 6%, 55%);
    --violeta:hsl(278, 68%, 11%);
}

/*Modificações Bootstrap*/
div.data {
    display: flex;
}

div.imput {
    margin-left: -9%;
}

label {
    font-size: 14px !important;
}

div>#btn {
    width: 78%;
    background-color: var(--violeta);
    margin-top: 20px;
}

/*Formulário*/
#formulario {
    margin: 20% 0 0 200px;
}

#formulario input::placeholder{
    color: var(--placeholder-color);
    font-weight: 600;
}

/*Imagem dos cartões*/
#cartao {
    margin: 13% 0 0 15%;
}

#cartao #cartao-frente img, #cartao #cartao-tras img {
    width: 400px;

}

/*Frente*/
#cartao-frente {
    color: var(--font-color);
}

#cartao-frente img {
    box-shadow: 35px 0px 50px -25px var(--cinza);
}

#proprietario-data, #numero-cartao{
    position: relative;
    bottom: 110px;
    left: 35px;
}

#numero-cartao {
    
    font-size: 30px;
    font-weight: 400;
}

#proprietario-data {
    font-size: 14px;
    color: var(--placeholder-color);
}

#proprietario-data #nome-proprietario{
    letter-spacing: 1.5px;
    margin: 0 150px 0 0;
}


/*Verso*/
#cartao-tras {
    margin: -70px 0 0 25%;
    padding: 0px 0 0 0;
}