/*Configurações padrão do Body*/
body{
    max-width: 1440px;
    font-family: "Space Grotesk"!important;
    font-weight: 500;
    background-color: blue;
}

/*Modificações Bootstrap*/
div.data {
    display: flex;
}

div.imput {
    margin-left: -10%;
}

label {
    font-size: 14px !important;
}

/*Style Bckground*/
#img-bg{
    z-index: -1;
    height:500px ;
}

main {
    margin-left: 40%;
}

/*Formulário*/
#formulario {
    margin: auto;
}